# ----------------------
# Backend (FastAPI / DB)
# ----------------------
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/entrupy"

# ----------------------
# Frontend (Vite / React)
# ----------------------
VITE_API_URL="http://localhost:8000/api"
VITE_API_KEY="your_api_key_here"